<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>

  <style>
      background: rgb(255, 255, 255);
      padding: 1em;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
      position: absolute;
      width: 400px;
      height: 250px;
      font-size: 0.8em;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
      opacity: 0;
      transition: opacity 100ms;
    }

  </style>
</html>
